@use "../../common/mixins.scss";
@use "../../common/theme.scss" as theme;

.button {
  padding: 0.5rem 2rem;
  text-transform: uppercase;

  &__light {
    @include mixins.cta-button(
      transparent,
      theme.$white,
      2px solid theme.$white
    );
  }

  &__dark {
    @include mixins.cta-button(
      theme.$black,
      theme.$white,
      2px solid theme.$black
    );
  }

  &__fill {
    width: 100%;
  }
}
