@use "../../common/mixins.scss";

.wrapper {
  gap: 3rem;
  height: 45rem;

  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1618221381711-42ca8ab6e908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixins.flex-center-center(column);
}
