@use "../../common/mixins.scss";
@use "../../common/theme.scss" as theme;

.card {
  &__item {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: 0 auto;

    // margin: 0 1rem;
    background-color: theme.$white;

    width: 15rem;

    // @include mixins.box-shadow;

    @include mixins.mobile() {
      //🚨 4 items -> 2 items
    }

    figure {
      margin: 0;
      width: 100%;
      height: 20rem;
      padding: 2rem;
      box-sizing: border-box;
      // background-color: theme.$white-darker;
      // background-image: linear-gradient(
      //   rgba(theme.$white-07, 0.7),
      //   rgba(theme.$white-darker, 0.3)
      // );

      @include mixins.bg-image;
      // background: theme.$white-darker;
      // background: linear-gradient(
      //   300deg,
      //   rgba(theme.$white-darker, 0.9) 0%,
      //   rgba(theme.$white-07, 0.1) 80%
      // );

      img {
        // @include mixins.box-shadow;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      height: 5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: theme.$black;

      &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__title {
          margin: 0;
          font-family: "EB Garamond", serif;
          white-space: normal;
          font-size: 1rem;
        }

        &__icon_wrapper {
          position: relative;
          right: 0;
          cursor: pointer;
          z-index: 12;
          height: 1.5rem;
        }
      }

      &__bottom {
        p {
          margin: 0;
          font-family: "Roboto", sans-serif;
        }
      }
    }

    &:hover {
      @include mixins.hover(90%);
    }
  }
}
