@use "../../common/theme.scss" as theme;

.container {
  width: 100%;
  height: 3.5rem;

  display: flex;
  justify-content: space-between;

  padding: 0.5rem 2rem;
  position: fixed; // -> once scroll event effects
  color: theme.$white;
  // color: theme.$black;

  box-sizing: border-box;
  border-bottom: 1px solid theme.$white-07;

  // background-color: theme.$ivory;
  z-index: 5;
}
