@use "../../common/theme.scss" as theme;

.container {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 0.5rem 2rem;
  position: fixed;
  color: theme.$white;

  box-sizing: border-box;
  border-bottom: 1px solid theme.$white-07;

  background-color: theme.$ivory;
  z-index: 5;
  color: theme.$black;
}
