@use "../../common/theme.scss" as theme;
@use "../../common/mixins.scss";

.subtitle {
  width: 70%;
  font-family: theme.$serif;
  margin: 3rem auto 2rem;
  color: theme.$black;
  font-size: 2rem;

  @include mixins.carousel-width;
}
