$white: rgb(248, 247, 246);
$white-00: rgb(238, 238, 238);
$white-01: rgb(235, 233, 233);
$white-07: rgba(235, 233, 233, 0.7);
$shadow: rgba(203, 202, 202, 0.7);
$shadow-dark: rgba(0, 0, 0, 0.1);

$light-gray: rgb(128, 128, 128);
$dark-gray: rgb(75, 75, 75);

// font-family: 'EB Garamond', serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
